asgiref==3.9.1
gunicorn==23.0.0
packaging==25.0
pillow==11.3.0
PyPDF2==3.0.1
pytz==2025.2
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
whitenoise==6.11.0
Django==5.0.6
gunicorn
pypdf
setuptools
setuptools-distutils
